body {
	margin: 0;
	background: linear-gradient(45deg, #FFF, #BBB);
	overflow: hidden;
	font: 100% sans-serif;
	height: 100vh;
}
footer {
	position: absolute;
	z-index: 604;
	bottom: 0;
	width: 100%;
	background: #FFF;
}
	footer #stat_mem {
		text-align: right;
	}

#kk1 {
	width: 100%;
	height: 50%;
}
#kk2 {
	width: 45%;
	height: 45%;
}
#kk3 {
	width: 45%;
	height: 45%;
}
